---
import Main from "../layouts/Main.astro";
import Hero from "../sections/Hero.astro";
import Services from "../sections/Services.astro";
import "../styles/tailwind.css"
import "../styles/global.css"
---

<Main>
  <main>
    <Hero />
    <Services />
  </main>
</Main>
