---
const SOCIALS = [
  {
    icon: "/tiktok.svg",
    href: "#",
  },
  {
    icon: "/twitter.svg",
    href: "#",
  },
  {
    icon: "/instagram.svg",
    href: "#",
  },
  {
    icon: "/discord.svg",
    href: "#",
  },
];
---

<footer>
  <span>Vold Studio - &copy; {new Date().getFullYear()}</span>
  <ul>
    {
      SOCIALS.map(({ icon, href }) => (
        <li>
          <a href={href}>
            <img src={icon} alt="" />
          </a>
        </li>
      ))
    }
  </ul>
</footer>

<style>
  footer {
    @apply container flex flex-col md:flex-row items-center justify-between gap-4 text-white py-8;
  }

  ul {
    @apply flex items-center gap-4;
  }

  li {
    @apply hover:scale-125 transition-transform;
  }

  img {
    @apply w-8 h-8;
  }
</style>
