---
const links = [
  {
    label: "Home",
    href: "#home",
  },
  {
    label: "Services",
    href: "#services",
  },
  {
    label: "Work",
    href: "#projects",
  },
  {
    label: "About",
    href: "#about",
  },
  {
    label: "Contact",
    href: "#contact",
  },
];
---

<header id="header">
  <wrap>
    <a href="#">
      <img id="logo" src="/g.svg" alt="Vold Studio Logo">
    </a>

    <div class="block lg:hidden">
      <button
        id="toggle"
        class="flex items-center p-3 border rounded text-white border-white"
      >
        <svg
          class="fill-current h-3 w-3"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
          ><title>Menu</title><path
            d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg
        >
      </button>
    </div>
  </wrap>

  <nav id="nav" class="hidden md:block">
    <ul>
      {
        links.map(({ label, href }) => (
          <li>
            <a href={href}>{label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  header {
    @apply container p-4 flex flex-col md:flex-row relative z-40 items-center gap-4 justify-between text-white uppercase;
  }

  #logo {
    @apply w-auto h-12;
  }

  wrap {
    @apply flex items-center gap-4 justify-between w-full;
  }

  ul {
    @apply flex flex-col md:flex-row items-center gap-8 py-4;
  }

  a {
    @apply underline-offset-8;
  }

  a:hover {
    @apply underline;
  }
</style>

<script>
  document.getElementById("toggle")!.onclick = function () {
    document.getElementById("nav")?.classList.toggle("hidden");
  };
</script>
