<section id="home" class="bg-indigo-500 min-h-screen">
  <div class="container">
    Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.
  </div>
</section>

<style>
.container {
  padding-top: calc(var(--header-height) + 1rem);
}
</style>
