---
import Header from "../components/Header.astro";
---

<section id="home">
  <Header />
  <hero>
    <h1>vold studio</h1>
    <h3>Realize your creativity</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus
      assumenda amet reprehenderit magni perferendis quasi voluptatem iste
      ducimus quidem beatae! Perferendis sed atque illum deleniti minus
      laudantium ducimus placeat cumque!
    </p>
    <mas>
      <span>Contact</span>
      <a href="#contact">Contact</a>
    </mas>
    <a href="#services">
      <img id="u" src="/u.svg" alt="u" />
    </a>
  </hero>
  <img id="o" src="/o.svg" alt="o" />
  <img id="d" src="/d.svg" alt="d" />
  <img id="c" src="/c.svg" alt="c" />
</section>

<style>
  section {
    background-image: url(/+.svg), url(/hero.svg);
    background-repeat: repeat, no-repeat;
    background-size:
      225px auto,
      auto 100%;
    background-position:
      0 0,
      center;
    aspect-ratio: 545/322;
    @apply bg-interdimensional-blue text-white;
  }

  hero {
    @apply relative text-center min-h-screen w-full h-auto container flex flex-col items-center justify-center py-24;
  }

  h3 {
    @apply font-light tracking-widest;
  }

  p {
    @apply max-w-4xl my-8;
  }

  @-webkit-keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  @keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  @-webkit-keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }

  @keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }

  mas {
    @apply border-2 text-base relative border-white inline-block rounded-full overflow-hidden;
  }

  mas span {
    @apply absolute inset-0 inline-block  text-white py-4 px-8 bg-gradient-to-r from-interdimensional-blue to-very-light-blue;
  }

  a[href="#contact"] {
    -webkit-mask: url("/n.png");
    mask: url("/n.png");
    -webkit-mask-size: 7100% 100%;
    mask-size: 7100% 100%;
    -webkit-animation: ani2 0.7s steps(70) forwards;
    animation: ani2 0.7s steps(70) forwards;
    @apply inline-block py-4 px-8 bg-white text-interdimensional-blue;
  }

  a[href="#contact"]:hover {
    -webkit-animation: ani 0.7s steps(70) forwards;
    animation: ani 0.7s steps(70) forwards;
  }

  a[href="#services"] {
    @apply mt-24 inline-block;
  }

  a[href="#services"] img {
    @apply w-12 h-12 animate-down pointer-events-none;
  }

  #o {
    @apply absolute -top-4 -left-4 w-24 blur-sm;
  }

  #d {
    @apply absolute bottom-0 left-0 w-32 xl:w-52 2xl:w-72 translate-y-1/2 hidden md:block;
  }

  #c {
    @apply absolute bottom-0 right-0 w-32 xl:w-56 -translate-y-1/2 hidden md:block;
  }
</style>
