---
import Overlay from "../components/Overlay.astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Vold Studio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap"
    />
    <title>Vold Studio</title>
  </head>
  <body>
    <slot />
    <Overlay />
    <script>
      import "../scripts/script.js";
      import "../scripts/gsap.ts";
      import "../scripts/lenis.js";
    </script>
  </body>
</html>
